.example-enter {
  transform:translate(-100%);
}

.example-enter.example-enter-active {
  transform:translate(0px);
  transition: transform 500ms;
}

.example-leave {
  transform:translate(0px);
}

.example-leave.example-leave-active {
  transform:translate(-100%);
  transition: transform 500ms;
}


.example2-enter {
  transform:translate(0);
}

.example2-enter.example2-enter-active {
  transform:translate(-100%);
  transition: transform 500ms;
}

.example2-leave {
  transform:translate(-100%);
}

.example2-leave.example2-leave-active {
  transform:translate(0);
  transition: transform 500ms;
}


.show-right{
  transform: translate(-50%);
  transition: transform 500ms;
}

.show-left{
  transform: translate(0);
  transition: transform 500ms;
}



.face {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
